
.footer {
    background-color: #22223B; /* Dark background color */
    color: white; /* Text color */
    padding: 20px 0; /* Padding for the top and bottom */
}

.footer span {
    margin-right: 10px; /* Margin between inline elements */
}

.footer a {
    color: #a180f0; /* Link color */
}

.footer a:hover {
    text-decoration: underline; /* Underline on hover for links */
}
