/* canvas.css */

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .canvas-button {
    background-color: #C9ADA7;
    color: black;
    padding: 15px 25px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .canvas-button:hover {
    background-color: #f0f0f0;
  }
  