/* generate.css */

.sidebar {
    background-color: #22223B;
    color: #fff;
    height: 110vh;
    padding: 20px;
  }
  
  .sidebar h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Pixeboy', sans-serif;
  }
  
  .sidebar p {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    font-family: 'Pixeboy', sans-serif;
    letter-spacing: 2px;
    list-style-type: disc; /* Set list style to bullets */
    padding-left: 20px; /* Add some left padding for the bullets */
  }
  .generate-button {
    background-color: #C9ADA7;
    color: black;
    padding: 15px 25px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 5% auto;
    display: block;

  }
  
  .generate-button:hover {
    background-color: #f0f0f0;
  }
  